<header class="topbar">
  <div class="topbar__inner">
    <a class="brand" (click)="goHome()" title="Accueil / Dashboard">🏥 HomeDoc</a>

    <div class="centerText" *ngIf="isHome">
      Excellence des soins • Confidentialité • Disponibilité
    </div>

    <ng-container *ngIf="!isHome">
      <!-- NOT logged -->
      <ng-container *ngIf="!auth.isLoggedIn(); else loggedIn">
        <nav class="links">
          <a routerLink="/login" routerLinkActive="active">Se connecter</a>
          <a routerLink="/signup" routerLinkActive="active" class="btn-link">S'inscrire</a>
        </nav>
      </ng-container>

      <!-- logged -->
      <ng-template #loggedIn>
        <nav class="links">
          <ng-container *ngIf="role === 'admin'">
            <a routerLink="/admin" routerLinkActive="active">Admin</a>
            <a routerLink="/admin/doctors" routerLinkActive="active">Médecins</a>
            <a routerLink="/admin/patients" routerLinkActive="active">Patients</a>
            <a routerLink="/admin/profile" routerLinkActive="active">Profil</a>
          </ng-container>

          <ng-container *ngIf="role === 'doctor'">
            <a routerLink="/dashboard/doctor" routerLinkActive="active">Tableau de bord</a>
            <a routerLink="/profile/doctor" routerLinkActive="active">Profil</a>
          </ng-container>

          <ng-container *ngIf="role === 'patient'">
            <a routerLink="/dashboard/patient" routerLinkActive="active">Tableau de bord</a>
            <a routerLink="/appointments/new" routerLinkActive="active">Rendez-vous</a>
            <a routerLink="/profile/patient" routerLinkActive="active">Profil</a>
          </ng-container>

          <button class="logout" (click)="logout()">Déconnexion</button>
        </nav>
      </ng-template>
    </ng-container>
  </div>
</header>
